.container, body {
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-color: rgb(220, 220, 220);
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: block;
    width: 115px;
    height: 20px;
    background: #4E9CAF;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btnreg {
    display: block;
    width: 115px;
    height: 20px;
    background: #4E9CAF;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btnv {
    display: block;
    width: 115px;
    height: 50px;
    background: #4E9CAF;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.tab {
    margin-left: auto;
    margin-right: auto;
}

.table-fit {
    width: 1px;
}
