.vscode
conexao.php
conexaosec.php
conexaoteste.php
conexaoatv.php
conexaoteste.php
conexaounidade.php
camera/snaps/2021/
camera/snaps/2020/**
camera/snaps/**
atividadesTeste/**
controleTablets/conexaoteste.php
reservaLaboratorio/conexaoteste.php
reservaLaboratorioTestes/**
