.vscode
conexao.php
conexaosec.php
conexaoteste.php
conexaoteste.php
conexaounidade.php
reservaLaboratorio/conexaoteste.php
reservaLaboratorioTestes/**
reservaLaboratorioTestes/supervisao.php
camera/snap/*
gestaoUsuarios/conect.php
data/*.xlsms