/* Cor principal */
.bg-principal { background-color: rgb(22, 65, 148) !important; }
.text-principal { color: rgb(22, 65, 148) !important; }

/* Cor secundária */
.bg-secundaria { background-color: rgb(239, 73, 15) !important; }
.text-secundaria { color: rgb(239, 73, 15) !important; }

/* Apoio */
.bg-apoio1 { background-color: rgb(127, 175, 211) !important; }
.bg-apoio2 { background-color: rgb(108, 194, 186) !important; }

h2 {
  color: rgb(22, 65, 148);
}

.btn-principal {
  background-color: rgb(22, 65, 148);
  color: white;
}
.btn-principal:hover {
  background-color: rgb(18, 52, 118);
  color: white;
}

.btn-secundaria {
  background-color: rgb(239, 73, 15);
  color: white;
}
.btn-secundaria:hover {
  background-color: rgb(200, 60, 10);
  color: white;
}

.nav-tabs .nav-link.active {
    background-color: rgb(22, 65, 148) !important;  /* sua cor principal */
    color: white !important;
    border-color: rgb(22, 65, 148) !important;     /* cor da borda */
}

.nav-tabs .nav-link:hover {
    color: rgb(22, 65, 148);
}

/* Card title maior para tablet */
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

/* Card geral */
.card {
    border: 1px solid rgb(127, 175, 211); /* cor de apoio */
    border-radius: 12px;
}

/* Botão Avaliar */
.btn-principal {
    background-color: rgb(22, 65, 148);
    color: white;
    border: none;
}
.btn-principal:hover {
    background-color: rgb(18, 52, 118);
    color: white;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

input[type=number] {
    font-size: 1.2rem;
    padding: 8px;
}